h1 {
  color: darkred;
}

p {
  color: lightcoral;
  padding: 20px;
  border: 2px dashed saddlebrown;
  border-radius: 10px;
  background-color: lightsalmon;
}

ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}
